@import "src/styles/constants";

.page-selector-container {
  display: flex;
  align-items: center;
  gap: $spacing-s;
  width: fit-content;
  margin: $spacing-m auto $spacing-s;
  border-radius: $border-radius-inner;

  .current-page {
    width: calc(#{$font-xl} * 2);
    padding: $spacing-s;
    border-radius: $border-radius-outer;
    background-color: $primary-color-light;
    color: $secondary-text-color;
    text-align: center;
    font-size: $font-xl;
    font-weight: 700;
  }
}