@import "src/styles/constants";
@import "src/styles/mixins";

.beers-list-container {
  display: grid;
  grid-gap: $spacing-xl $spacing-l;
  grid-template-columns: repeat(4, 1fr);
  max-width: min($max-content-width, 100%);
  padding: $spacing-m;
  box-sizing: border-box;
  margin: 0 auto;

  @media (max-width: $lg-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: $spacing-s;
  }

  @media (max-width: $sm-breakpoint) {
    grid-template-columns: repeat(1, 1fr);
  }

  .skeleton {
    @include skeleton();
    height: 400px;
  }
}