@import "src/styles/constants";

.button-container {
  border: none;
  padding: $spacing-m;
  background-color: $tile-color;
  border-radius: $border-radius-inner;

  &:not(.disabled) {
    cursor: pointer;
  }
}