@import "src/styles/constants";
@import "src/styles/mixins";

.beer-tile-container {
  display: inline-flex;
  flex-direction: column;
  @include tile;
  cursor: pointer;
  gap: $spacing-s;

  &:hover {
    .beer-picture-container {
      .beer-picture {
        transform: scale(0.9);
      }
    }
  }

  .see-details-button {
    @include floating-button;
    right: $spacing-m;
    top: $spacing-m;
  }

  .beer-picture-container {
    background-color: rgba($primary-color-dark, 0.15);
    position: relative;
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    padding: $spacing-s;
    border-radius: $border-radius-inner;
    overflow: hidden;

    .backdrop-text {
      position: absolute;
      width: 100%;
      left: $spacing-s;
      top: $spacing-s;
      z-index: $bottom-layer;
      writing-mode: vertical-lr;
      white-space: nowrap;
      user-select: none;
      opacity: 0.075;
      font-weight: 900;
      font-size: $font-xxl;
    }

    .beer-picture {
      position: relative;
      height: 100%;
      z-index: $middle-layer;
      transition: 0.3s transform;
    }
  }

  .beer-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-s;
    box-sizing: border-box;
    border-radius: $border-radius-inner;

    .beer-name {
      font-size: $font-l;
      font-weight: 900;
    }

    .beer-tagline {
      font-size: $font-s;
      font-style: italic;
    }
  }
}