@import "src/styles/constants";

.error-message-container {
  margin: auto;
  width: fit-content;
  display: grid;
  align-items: center;
  column-gap: $spacing-l;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $lg-breakpoint) {
    grid-template-columns: 1fr;
  }

  .error-image-container {
    margin: 0 auto;

    .error-image {
      max-width: 50vw;
      height: 50vh;
    }
  }

  .error-text {
    color: $secondary-text-color;

    &.error-header {
      font-weight: 900;
      font-size: $font-xxl;
    }
  }

  .action-button {
    width: 100%;
    margin-top: $spacing-m;
    background-color: $accent-color;
    color: $secondary-text-color;
    font-size: $font-l;
    font-weight: bold;
    transition: background-color 0.2s;

    &:hover {
      background-color: $accent-color-dark;
    }
  }
}