@import "src/styles/constants";

@mixin color($color) {
  border: thin solid $color;

  .chip-label {
    background-color: $color;
  }
}

.chip-container {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  border-radius: $border-radius-inner;
  overflow: hidden;

  &.low {
    @include color(#0ae176);
  }

  &.mid {
    @include color(#f16500);
  }

  &.high {
    @include color(#c30747);
  }

  .chip-text {
    padding: $spacing-s;
    font-weight: 600;

    &.chip-label {
      display: flex;
      align-items: center;
      height: 100%;
      color: $secondary-text-color;
      font-weight: 700;
    }

    &.chip-value {
      font-size: $font-s;
    }
  }
}